.imageview_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.88);
  color: white;
}
.imageview_container .image_wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 80vh;
  max-height: 80vh;
  outline: none !important;
  box-shadow: none !important;
}

/* .imageview_container img {
  max-width: 80%;
  max-height: 70vh;
} */
