@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

/* import font family */
/* for bold */
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
    url("../assets/fonts/Roboto-Bold.woff2") format("truetype");
}

/* semibold font */
@font-face {
  font-family: "Roboto-Semibold";
  src: local("Roboto-Semibold"),
    url("../assets/fonts/Roboto-Semibold.woff2") format("truetype");
}

/* light font */
@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
    url("../assets/fonts/Roboto-Light.woff2") format("truetype");
}

/* regular font */
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
    url("../assets/fonts/Roboto-Regular.woff2") format("truetype");
}

/* regular italic font */
@font-face {
  font-family: "Roboto-Regularitalic";
  src: local("Roboto-Regularitalic"),
    url("../assets/fonts/Roboto-Italic.woff2") format("truetype");
}

/* medium font */
@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
    url("../assets/fonts/Roboto-Medium.woff2") format("truetype");
}

*:focus {
  outline: none !important;
  box-shadow: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge add Firefox */
body {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  /* Firefox */
}

.cardShadow1 {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.bannerShadow {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.menuShadow {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.topShadow {
  -webkit-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filterPopup::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.filterPopup {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

input:checked + div {
  @apply border-primary;
}

input:checked + div svg {
  @apply block;
}

.outline *:focus-within ~ label,
.outline *:not(:placeholder-shown) ~ label {
  @apply transform -translate-y-2.5 z-0 ml-4 px-1 py-0;
}

.outline input:focus-within ~ label,
.outline input ~ label,
.outline select:focus-within ~ label,
.outline select:not(:placeholder-shown) ~ label,
.outline textarea:focus-within ~ label,
.outline textarea:not(:placeholder-shown) ~ label {
  @apply transform -translate-y-2.5 z-0 ml-4 px-1 py-0;
}

.content {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  @apply pt-3 pb-4 px-6 rounded-lg bg-white;
}

.content h1 {
  font-size: 21px;
  margin: 1rem 0;
  @apply text-primary;
}

.content h2 {
  font-size: 16px;
  margin: 0.5rem 0;
  @apply font-bold text-black-4e;
}

.content h3 {
  font-size: 16px;
  margin: 0.5rem 0;
  @apply font-bold text-black-4e;
}

.content p {
  @apply text-base font-normal pb-2 text-black-4e;
}

.swiper-pagination {
  bottom: -0.8rem !important;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.loader {
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 10;
  width: 160px;
  height: 100px;
  margin-left: -80px;
  margin-top: -50px;
  border-radius: 5px;
  background: #1e3f57;
  animation: dot1_ 3s cubic-bezier(0.55, 0.3, 0.24, 0.99) infinite;
}

.loader:nth-child(2) {
  z-index: 11;
  width: 150px;
  height: 90px;
  margin-top: -45px;
  margin-left: -75px;
  border-radius: 3px;
  background: #3c517d;
  animation-name: dot2_;
}

.loader:nth-child(3) {
  z-index: 12;
  width: 40px;
  height: 20px;
  margin-top: 50px;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  background: #6bb2cd;
  animation-name: dot3_;
}

@keyframes dot1_ {
  3%,
  97% {
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
  }

  30%,
  36% {
    width: 80px;
    height: 120px;
    margin-top: -60px;
    margin-left: -40px;
  }

  63%,
  69% {
    width: 40px;
    height: 80px;
    margin-top: -40px;
    margin-left: -20px;
  }
}

@keyframes dot2_ {
  3%,
  97% {
    height: 90px;
    width: 150px;
    margin-left: -75px;
    margin-top: -45px;
  }

  30%,
  36% {
    width: 70px;
    height: 96px;
    margin-left: -35px;
    margin-top: -48px;
  }

  63%,
  69% {
    width: 32px;
    height: 60px;
    margin-left: -16px;
    margin-top: -30px;
  }
}

@keyframes dot3_ {
  3%,
  97% {
    height: 20px;
    width: 40px;
    margin-left: -20px;
    margin-top: 50px;
  }

  30%,
  36% {
    width: 8px;
    height: 8px;
    margin-left: -5px;
    margin-top: 49px;
    border-radius: 8px;
  }

  63%,
  69% {
    width: 16px;
    height: 4px;
    margin-left: -8px;
    margin-top: -37px;
    border-radius: 10px;
  }
}
.spinner {
  font-size: 20px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

.banner_gradient{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 160px;
  bottom: 0px;
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%, rgba(255, 255, 255, 1) 30%);
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  ::i-block-chrome,.text-color {
    color: #000;
  }
}